<!DOCTYPE html>
<html>
<head>
	<title>Post New Photo</title>
</head>
<body>

	<header>
		<h1>Create New Photo Post</h1>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/users/login">Login</a></li>
				<li><a href="/photos">Photos Home Page</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<form method='POST' action='/photos'>

			<select name='userId'>
				<% for (let i = 0; i < users.length; i++) { -%>
					<option value='<%=users[i].id%>'><%=users[i].username%></option>
				<% } -%>

			</select><br><br>


			Photo Name: <br>
			<input type="text" name="name" placeholder="Photo Name"><br>
			Photo Source: <br>
			<input type="url" name="source" placeholder="Photo URL"><br><br>
			<button>Create New Post</button>
		</form>
	</main>

</body>
</html>