<!DOCTYPE html>
<html>
<head>
	<title>Photo App Index Page</title>
</head>
<body>

	<h1>Welcome to PhotoStorage</h1>

	<nav>
		<ul>
			<li><a href="/users">View Users</a></li>
			<li><a href="/photos">View Photos</a></li>
			<li><a href="/users/login">Login</a></li>
		</ul>
	</nav>

</body>
</html>