body {
	/*background-image: url(http://cdn.shopify.com/s/files/1/0250/5422/files/ios_linen_texture___black_by_vegardhw-d3ddll5_copy.jpg?2614);*/
	background-color: lightgrey;
}


a:link {
    color: red;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: green;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: hotpink;
    text-decoration: underline;
    cursor: pointer;
}

/* selected link */
a:active {
    color: blue;
    text-decoration: underline;
}