<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
</head>
<body>

	<header>
		<nav>
			<li><a href="/">Home</a></li>
			<li><a href="/users/new">Create New Account</a></li>
		</nav>
	</header>

	<h4>login</h4>
	<form action='/users/login' method='POST'>
		Username:<br> <input type="text" name="username" placeholder="username"><br>
		Password:<br> <input type="password" name="password" placeholder="password"><br>
		<button>Login</button>
	</form>

</body>
</html>